body {
  background-color: aqua;
}
.main-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.heading-tweet {
  text-align: center;
  font-weight: 900;
  margin: 20px;
}
.border {
  margin: 25px;
  height: 5px;
  background-color: black;
}

.left-section {
  background-color: blue;
  width: 600px;
  height: 300px;
  border: 3px solid black;
  text-align: center;
  margin: 60px;
}

.first-input {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: aqua;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgb(88, 69, 139);
}
.submit-btn {
  width: 400px;
  border: none;
  border-radius: 10px;
  color: aqua;
  background-color: black;
  height: 40px;
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px rgb(90, 197, 205);
}

.delete-btn {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: red;
  background-color: black;
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px rgb(90, 197, 205);
}

/* ------------------------- */

.right-section {
  width: 600px;
  background-color: darkblue;
  height: 300px;
  border: 3px solid black;
  text-align: center;
  margin: 5px;
}

.second-input {
  margin: 5px;
  width: 600px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: aqua;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgb(88, 69, 139);
}
.ol {
  color: white;
}

.children-div {
  display: flex;
}

.li {
  margin: 10px;
  margin-right: 20px;
  font-size: 20px;
}
